.poke-card {
  background-color: aliceblue;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
  border: 1px solid #dedede;

  img{
    height: 100%;
  }

  &:hover {
    transform: scale(1.05);
  }
}